<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem illo praesentium harum dolorum assumenda
            libero odit cum laudantium voluptas quod.</p>
    </div>
</section>