<dir class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti necessitatibus illo porro laborum
        reprehenderit vitae excepturi totam aut. Incidunt nulla doloremque quidem modi earum nobis vitae culpa labore
        quasi aspernatur!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto reiciendis quidem quisquam quo rem nobis sint nam
        possimus repudiandae accusamus?</p>
    <a href="https://www.faztweb.com" class="btn btn-primary">FaztWeb</a>

</dir>